{%extends "main/layout.html"%}

{%block content%}

<article class="l-design-widht ">

<div class="card card--inverted fi">
  
    <h3>ПТСР – це крайня реакція на сильний стресор, що загрожує життю людини. Частота ПТСР саме у момент надзвичайної ситуації низька. Зазвичай ПТСР починає проявлятися приблизно через шість місяців після травмуючої події. Проте, якщо стресор має потужну тривалу у часі дію (наприклад, перебування в окупації, постійні ситуації обстрілів та повітряних тривог тощо), вірогідність швидкого розвитку ПТСР підвищується.</h3>

    <div class="button-group">
     
    </div>
  </div>

</article>
{%endblock%}