{% extends "main/layout.html"%}
{% block content%}
<div class="container marketing">
        
    
    <div class="row mt-3">
    {% for elem in type_article%}
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <img class = "bg-placeholder-img rounded-circle">
        <h2 class="fw-normal">{{elem}}</h2>
        <p></p>
        <form action="/article/{{elem.id}}/" method="post">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">View details »</button>
        </form>
       
      </div>
      {% endfor %}
    </div>




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%for elem in article%}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
                <div class="card-body">
                  <h4 class="card-text">{{elem}}</h4>
                  <p class="card-text">{{elem.text}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="article/detail/{{elem.id}}/" method="post">
                        {% csrf_token%}
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>

                      </form>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}