{% extends "main/layout.html"%}
{% block content%}
<div class="container marketing">
        
    
    <div class="row mt-3">
    {% for elem in type_article%}

      <div class="col-lg-4">
        <img src="https://th.bing.com/th/id/R.2f33246f5ceee743b902e452d256aa5a?rik=tuRtLv2e5nxhUw&riu=http%3a%2f%2fwww.ahutton.com%2fcgw%2fclipart-hosp%2frx-27-01.png&ehk=Shw%2b34DSnsXQ93QLzKNacNeS%2f5ZrT5UU9fFaCHqJixU%3d&risl=&pid=ImgRaw&r=0"  class = "bg-placeholder-img rounded-circle">
        <h2 class="fw-normal">{{elem}}</h2>
        <p></p>
        <form action="/article/{{elem.id}}/" method="post">
            {% csrf_token %}
            <button class="btn btn-dark" color="navy" type="submit" >View details »</button>
        </form>
       
      </div>
      {% endfor %}
    </div>




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%for elem in article%}
            <div class="col">
              <div class="card shadow-sm">
                <img src = "{{elem.link_for_image}}"  class=" bd-placeholder-img card-img-top" width="100%" height="225" >
    
                <div class="card-body" style="box-shadow: 0px 10px 10px 10px rgba(34, 60, 80, 0.2); ">
                  <h4 class="card-text">{{elem}}</h4>
                  <p class="card-text">{{elem.text}}</p>
                  <div class="d-flex justify-content-between align-items-center" >
                    <div class="btn-group">
                      <form action="article/detail/{{elem.id}}/" method="post">
                        {% csrf_token%}
                        <button type="submit" class="btn btn-outline-primary">View</button>

                      </form>

                    </div>
                    <small class="text-primary">{{elem.time}}</small>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}